
.diary-container {
  background-color: #f9f6f2; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.diary-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  cursor: pointer;
  text-decoration: underline; 
  margin-bottom: 10px;
}

.diary-description {
  font-size: 18px;
  color: #555; 
  margin-bottom: 10px;
}

.diary-date {
  font-size: 16px;
  color: #888; 
  margin-bottom: 10px;
}

.diary-delete-button {
  background-color: #c0392b; 
  color: #fff; 
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.diary-delete-button:hover {
  background-color: #a93226; 
}


.signin-container {
  background-color: #f6f6f6; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  margin: 0 auto; 
}

.signin-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  margin-bottom: 20px;
}

.signin-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
}

.signin-button {
  background-color: #ffc107;
  color: #333; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signin-button:hover {
  background-color: #ffca28; 
}



.create-account-container {
  background-color: #f6f6f6; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto; 
}

.create-account-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  margin-bottom: 20px;
}

.create-account-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #fff; 
}

.create-account-button {
  background-color: #ffc107; 
  color: #333; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.create-account-button:hover {
  background-color: #ffca28; 
}

.diary-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.adddiary-header {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.fullname {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diary-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}